body {
    margin: 0px;
    padding: 0;
}
  
.d-flex {
    display: flex;
}
 
.list-unstyled {
    list-style: none;
}  

.main-nav {
    background: aqua;
}
 
.banner {
    object-fit: cover;
    position: relative;
    opacity: 0;
    background: blue;
}
 
.banner:hover{
    opacity: 0.5;
}
.img {
    width: 100px;
    height: 100px;
}
 
.list {    
    width: 100px;
    padding: 10px;
    margin: 13px 10px 10px;
    border: 10px darkblue solid;
    background: darkgrey;
}
li:hover {
    display: block;
    background: linear-gradient(#30E8BF,#FF8235)   ;
}


